<header class="createResume-header">
    <a href="#/home" class="go-back"> < </a>
    <h1 class="title">选择创建简历方式</h1>
    <span class="header-right"></span>
</header>
<ul>
    <li class="createResume">
        <a href="javascripts:void(0)" class="createResume-write">
            <span class="ct ">
                <span class="ct-txt">登录/在线填写简历</span>
                <span class="ct-txt-two">30秒2步完成简历步骤</span>
            </span>
        </a>
    </li>
    <li class="createResume-footer">
        <a href="javascripts:void(0)" class="createResume-write">
            <span class="ct ">
                <span class="ct-txt">导入简历</span>
                <span class="ct-txt-two">轻松导入主流招聘网站上已经创建的简历</span>
            </span>
        </a>
    </li>
</ul>