<!-- home -->

<div class="home-container">
    <div class="header">
        <div class="list-header">
            <a href="javascript:;" class="logo">
                <img src="https://rimg.quanzhi.cn/images/logo.png"  alt="">
            </a>
            <a href="javascript:;" class="city">
                <span>北京</span>
                <i class="iconfont icon-down"></i>
            </a>
            <a href="javascript:;" class="searchbox">
                <input type="text" placeholder="职位/公司名称/关键词">
                <i class="iconfont icon-sousuo"></i>
            </a>
        </div>
    </div>
    <div class="main">
        
    </div>
    <div class="footer">
        <a href="#/job" class="footer__item nav-link active"><i class="iconfont icon-gongzuo"></i>工作</a>
        <a href="#/search" class="footer__item nav-link"><i class="iconfont icon-record"></i>简历</a>
        <a href="#/mine" class="footer__item nav-link"><i class="iconfont icon-mine"></i>我的</a>
    </div>

</div>