<!-- job列表页视图 -->
<div class="wraper">
    <div class="pulldown-tips">
        <div class="tip-wraper">
            <span>下拉刷新</span>
            <i class="iconfont icon-down"></i>
        </div>
    </div>
    <div class="banner-main-contain">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://rimg.quanzhi.cn/images/banner.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://rimg.quanzhi.cn/images/banner.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://rimg.quanzhi.cn/images/banner.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="job-list-container">
        <div class="rank-options-nav">
            <div class="nav-container">
                <span class="title">位置<i class="iconfont icon-down"></i></span>
                <span class="title">薪资<i class="iconfont icon-down"></i></span>
                <span class="title">排序<i class="iconfont icon-down"></i></span>
                <span class="title">更多<i class="iconfont icon-down"></i></span>
            </div>
        </div>
        <ul class="job-list">

        </ul>
    </div>
</div>