<div class="loginstate">
    <a href="#" class="loginIfm">
        <span class="logo">
            <img src="../../static/img/user.png" alt="">
        </span>
        <span class="username">点击登录</span>
        <span class="changePwd">手机/账号登录</span>
        <span class="icon-right">></span>
    </a>
</div>
<div class="section">
    <a href="#" class="applyState">
        <span class="label">
            <i class="iconfont icon-file"></i>
            求职状态
        </span>
        <span class="select">请选择</span>
        <span class="icon-right">></span>
    </a>
</div>

<div class="section">
    <a href="#" class="applyState">
        <span class="label">
            <i class="iconfont icon-shequ"></i>
            家的位置
        </span>
        <span class="select"></span>
        <span class="icon-right">></span>
    </a>
</div>

<div class="section">
    <a href="#" class="applyState">
        <span class="label">
            <i class="iconfont icon-record"></i>
            申请记录
        </span>
        <span class="select"></span>
        <span class="icon-right">></span>
    </a>
    <a href="#" class="collection">
        <span class="label">
            <i class="iconfont icon-collection"></i>
            我的收藏
        </span>
        <span class="select"></span>
        <span class="icon-right">></span>
    </a>
</div>
<div class="section">
    <a href="#" class="applyState">
        <span class="label">
            <i class="iconfont icon-weixin"></i>
            全职招聘求职找工作
        </span>
        <span class="select-qz"></span>
        <span class="icon-right">></span>
    </a>
    <a href="#" class="collection">
        <span class="label">
            <i class="iconfont icon-navicon-yhxy"></i>
            全职社区
        </span>
        <span class="select"></span>
        <span class="icon-right">></span>
    </a>
</div>