<header class="editResume-header">
    <a href="#/home" class="go-back"> < </a>
    <h1 class="title">选择创建简历方式</h1>
    <span class="header-right"></span>
</header>
<form action="" id="editsmall">
    <div class="basicInformation">
        <div class="form-section">
            <label class="Ifm-name">姓名</label>
            <input type="text" placeholder="请输入姓名">
        </div>
        <div class="form-section">
            <label class="Ifm-name">手机号</label>
            <input type="text" placeholder="请输入手机号">
        </div>
        <div class="form-section">
            <label class="Ifm-name">参加工作时间</label>
            <input type="text" placeholder="请选择>">
        </div>
        <div class="form-section">
            <label class="Ifm-name">现居住地</label>
            <input type="text" placeholder="请选择>">
        </div>
        <div class="form-section">
            <label class="Ifm-name">现居住地</label>
            <input type="text" placeholder="" value="1996-01-01">
        </div>
        <div class="form-section">
            <label class="Ifm-name">性别</label>
            <div>
                <label class="sex sexactive">
                    <span>男</span>
                </label>
                <label class="sex">
                    <span>女</span>
                </label>
            </div>
        </div>
        <div class="form-section">
            <label class="Ifm-name">学历</label>
            <input type="text" placeholder="请选择>">
        </div>
    </div>
    <div class="otherInformation">
        <div class="form-section">
            <label class="Ifm-name">期望地点</label>
            <input type="text" placeholder="请选择>">
        </div>
        <div class="form-section">
            <label class="Ifm-name">期望职位</label>
            <input type="text" placeholder="请选择期望职位>">
        </div>
        <div class="form-section">
            <label class="Ifm-name">期望薪资</label>
            <input type="text" placeholder="请输入" value="元">
        </div>
    </div>
    <div class="self-introduction">
        <div class="form-section">
            <label class="Ifm-name">自我介绍</label>
            <input type="text" placeholder="未填写>">
        </div>
    </div>
    <p class="Ifm-btn">
        <input class="btn" type="submit" value="保存">
    </p>
</form>