
@import './modules/home';
@import './modules/job.scss';
@import './modules/search';


body { 
    margin: 0;
    padding: 0;
    background: #fff; 
    overflow: auto;
    height: 100%;
}
#root, .home-container { height: 100%; }
a{
    text-decoration: none;
}
input{
    outline-style: none;
}

.active{
    color: #00b38a;
}