
@import './modules/home';
@import './modules/job';
@import './modules/search';
@import './modules/mine';
@import './modules/login';


body { 
    margin: 0;
    padding: 0;
    background: #f0f4f7;
    overflow: auto;
    height: 100%;
}
#root, .home-container { height: 100%; }
a{
    text-decoration: none;
}
input{
    outline-style: none;
    outline: none;
    border: 0;
}

.active{
    color: #00b38a;
}

.main{
    height: 16.72rem;
    overflow: hidden;
}