
.createResume-header{
    line-height: .533333rem;
    display: flex;
    background: #ffffff;
    .go-back{
        color: #b3b3b3;
        font-weight: bold;
        font-size: .533333rem;
        padding-left: .266667rem;
        display: inline-block;
        flex: 1;
        height: 1.093333rem;
        line-height: 1.093333rem;
    }
    .title{
        flex: 4;
        text-align: center;
        font-size: .426667rem;
        font-weight: 500;
        color: #333333;
    }
    .header-right{
        flex: 1;
        text-align: right;
        padding-right: .266667rem;
    }
}
.createResume{
    margin-top: .133333rem;
    background: #ffffff;
    .createResume-write{
        position: relative;
        display: block;
        height: 2.133333rem;
        background: url("../../static/img/addtype-1.png") .28rem center no-repeat;
        cursor: pointer;
        .ct{
            position: absolute;
            top: .266667rem;
            left: 2.666667rem;
            display: table-cell;
            height: 2.4rem;
            vertical-align: middle;
            color: #666666;
            line-height: .56rem;
            .ct-txt{
                font-size: .426667rem;
                line-height: .8rem;
                color: #333333;
                display: block;
            }
            .ct-txt-two{
                display: block;
            }

        }
    }
}
.createResume-footer{
    margin-top: .133333rem;
    background: #ffffff;
    .createResume-write{
        position: relative;
        display: block;
        height: 2.133333rem;
        background: url("../../static/img/addtype-2.png") .28rem center no-repeat;
        cursor: pointer;
        .ct{
            position: absolute;
            top: .266667rem;
            left: 2.666667rem;
            display: table-cell;
            height: 2.4rem;
            vertical-align: middle;
            color: #666666;
            line-height: .56rem;
            .ct-txt{
                font-size: .426667rem;
                line-height: .8rem;
                color: #333333;
                display: block;
            }
            .ct-txt-two{
                display: block;
            }

        }
    }
}