.loginstate{
    background: #ffffff;
    margin: .266667rem 0 0;
    .loginIfm{
        position: relative;
        display: flex;
        padding: .32rem .746667rem .32rem .266667rem;
        .logo{
            display: block;
            margin-right: .266667rem;
        }
        .username{
            display: block;
            padding: .266667rem;
            line-height: 1.16rem;
            color: #333333;
            font-size: .373333rem;
        }
        .changePwd{
            color: #b3b3b3;
            font-size: .373333rem;
            line-height: 1.693333rem;
            margin-left: 1.733333rem;
        }
        .icon-right{
            color: #b3b3b3;
            font-weight: 500;
            font-size: .533333rem;
            line-height: 1.693333rem;
            margin-left: .4rem;
            
        }
    }
}
.section{
    background: #ffffff;
    margin: .266667rem 0;
    padding: 0 .266667rem;
    .applyState{
        position: relative;
        display: flex;
        font-size: .373333rem;
        line-height: 1.333333rem;
        color: #b3b3b3;
        .label{
            padding-left: .8rem;
            color: #333333;
            font-size: .373333rem;
            i{
                font-size: .373333rem;
                position: absolute;
                color: #19b497;
                left: 0;
            }
        }
        .select{
            display: block;
            width: 5.733333rem;
            text-align: right;   
        }
        .icon-right{
            color: #b3b3b3;
            font-weight: 500;
            font-size: .533333rem;
            margin-left: .4rem;
            
        }
        .select-qz{
            display: block;
            width: 4rem;
            text-align: right;  
        }
        
    }

    .collection{
        position: relative;
        display: flex;
        font-size: .373333rem;
        line-height: 1.333333rem;
        color: #b3b3b3;
        .label{
            padding-left: .8rem;
            color: #333333;
            font-size: .373333rem;
            i{
                font-size: .373333rem;
                position: absolute;
                color: #19b497;
                left: 0;
            }
        }
        .select{
            display: block;
            width: 5.733333rem;
            text-align: right;   
        }
        .icon-right{
            color: #b3b3b3;
            font-weight: 500;
            font-size: .533333rem;
            margin-left: .4rem;
            
        }
    }
}